In [1]:
import pandas as pd
import os

In [36]:
PATH = 'c:\\names\\'

In [40]:
names = pd.read_csv(os.path.join(PATH, 'yob1880.txt'), names=['Имя','Пол','Количество'])

In [247]:
def count_top3(years: list) -> list:
    cols=['Name', 'Gender', 'Count']
    top_names = pd.DataFrame(columns=cols)
    for year in years:
        names = pd.read_csv(os.path.join(PATH, 'yob{}.txt'.format(year)), names=cols)
        top_names = pd.concat([top_names, names.sort_values(by='Count', ascending=False)], ignore_index=True)
#     top_3 = top_names.groupby('Name').sum().sort_values(by='Count', ascending=False)
    top_3 = top_names.groupby('Name').sum().sort_values(by='Count', ascending=False)[:3]
#     print(top_names.sort_values(by='Count', ascending=False))
    return list(top_3.Name)

In [248]:
count_top3([1880])

AttributeError: 'DataFrame' object has no attribute 'Name'

In [238]:
count_top3([2000, 2001])

        Gender  Count
Name
Jacob     MFMF  67103
Michael   MFMF  61922
Matthew   MFMF  55469